<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jx.pgz.main.mapper.UserMapper">

    <select id="selectUser" resultType="jx.pgz.main.bean.User">

        select *
        from test.s_user;

    </select>
</mapper>